.achievements-container {
    background-color: #f2f2f2;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding: 1rem;
    margin-left: 3rem;
  }


  
  #achivementButton{
    border-radius: 20px;
    background-color: #004879;
    color: #fff;
    padding: 5pt 5pt;
  }
  .achievements-list {
    margin-top: 1rem;
  }
  
  .achievements-list ul {
    list-style: none;
    padding-left: 0;
  }
  
  .achievements-list li {
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
  }