.logo_icon {
	width: 100px;
	height: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: #183059;
  color: white;
}


.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: #183059;
  font-size: 15px;
}

.logo {
  font-size: 15px;
  color: #fff;
  background: linear-gradient(45deg, #F03A47, #F03A47);
  padding: 5pt 5pt;
  border-radius: 15px;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  transform: perspective(1px) translateZ(0);
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  color: #D22E1E;
  transform: scale(1.05) rotate(5deg);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  transition-delay: 0s, 0s, 0.1s;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  background-color: #183059;
}