:root {
    --capital-one-blue: #183059;
    --capital-one-red: #e31837;
  }
  

  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
   
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--capital-one-blue);
    color: white;
    padding: 1rem;
  }
  
  /* Logo styles */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Navigation menu styles */
  .nav-menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-menu a:hover {
    color: var(--capital-one-red);
  }
  
  /* Hero section styles */
  .hero {
    background-color: #cccccccc;
    color: #AF5B5B;
    text-align: center;
    padding: 4rem 0;

  }
  
  .hero-content {
    max-width:500px;
    margin: 0 auto;
   
 
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
 
  /* Feature section styles */
  .features {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feature {
    text-align: center;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    height: fit-content;
  }
  
  .feature-icon {
    font-size: 2rem;
    color: var(--capital-one-red);
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    
  }
  
  /* About section styles */
  .about {
  
    padding: 4rem ;
    text-align: center;
    background-color: #447ec0;
  
  }
  
  /* Footer styles */
  .footer {
    background-color: #183059;
    color: white;
    text-align: center;
    padding: 2.7rem 0;
    padding-bottom: 73px;
   
  }
#picChange{
  width: 500px;
  height: 400px;
}
 img{
  width: 500px;
  height: 500px;
 }
 
 th {
  font-weight: lighter;
 }
  
 
  
 