.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }

  Link{
    background-color: #007bff;
  }

  
  