/* FinancialAdvisorApp.css */
body {
    margin: 0; /* Remove default margin to use the entire viewport */
    
    height: 100vh; /* Set the height of the body to the entire viewport height */
    background-color: #282c34;
    color: white;
  }
  
  #chatForm {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%; /* Set the width to 100% to take the entire screen width */
    max-width: 600px;
    padding: 20px;
    background-color: #282c34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .answer {
    font-size: 18px;
    margin-top: 20px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border: 3px solid #282c34;
    border-radius: 5px;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 480px) {
    h1 {
      font-size: 20px;
    }
  
    label {
      font-size: 16px;
    }
  
    input[type="text"] {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  