
.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #004879;
    color: white;
  }
  
 
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #004879;
  }
  
  .logo{
    color: #D22E1E;
    background-color: #004879;
  }

  a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #004879;
  }
  